<a href="https://colab.research.google.com/github/LGLV/ineuron_assignaments/blob/main/Assignment_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Make a class called Thing with no contents and print it. Then, create an object called example
from this class and also print it. Are the printed values the same or different?**

In [1]:
class Thing:
    pass
print(Thing)

<class '__main__.Thing'>

In [2]:
example = Thing() 
print(example)

<__main__.Thing object at 0x7fcff9c9a830>

**2. Create a new class called Thing2 and add the value &#39;abc&#39; to the letters class attribute. Letters
should be printed.**

In [3]:
class Thing2:
    letters = 'abc'
print(Thing2.letters)

abc

**3. Make yet another class called, of course, Thing3. This time, assign the value &#39;xyz&#39; to an instance
(object) attribute called letters. Print letters. Do you need to make an object from the class to do
this?**

In [4]:
class Thing3:
    def __init__(self):
        self.letters = 'xyz'
print(Thing3.letters)

AttributeError: ignored

The variable letters comes from any **object** made from Thing3. Not from the **class** Thing3.

In [5]:
any_object = Thing3() # Is necesary to create an object from the class Thing3, to print it.
print(any_object.letters)

xyz

**4. Create an Element class with the instance attributes name, symbol, and number. Create a class
object with the values &#39;Hydrogen,&#39; &#39;H,&#39; and 1.**

In [6]:
class Element:
    def __init__(self, name, symbol, number):
        self.name = name
        self.symbol = symbol
        self.number = number
element = Element('Hydrogen', 'H', '1')

In [ ]:
element.name

'Hydrogen'

**5. Make a dictionary with these keys and values: &#39;name&#39;: &#39;Hydrogen&#39;, &#39;symbol&#39;: &#39;H&#39;, &#39;number&#39;: 1. Then,
create an object called hydrogen from class Element using this dictionary.**

In [8]:
element_dict = {'name': 'Hydrogen', 'symbol': 'H', 'number': 1}
print(element_dict)
hydrogen = Element(*element_dict.values())
print(hydrogen.name, hydrogen.number, hydrogen.symbol, sep = ':\t')
hydrogen = Element(**element_dict)
print(hydrogen.name, hydrogen.number, hydrogen.symbol, sep = ',\t')

{'name': 'Hydrogen', 'symbol': 'H', 'number': 1}
Hydrogen:	1:	H
Hydrogen,	1,	H

**6. For the Element class, define a method called dump() that prints the values of the objectâ€™s
attributes (name, symbol, and number). Create the hydrogen object from this new definition and
use dump() to print its attributes.**

In [15]:
class Element:
    def __init__(self, name, symbol, number):
        self.name =name
        self.symbol = symbol
        self.number = number

    def dump(self):
        print(self.name, self.symbol, self.number, sep = '\t') 

hydrogen = Element('Hydrogen', 'H', 1)
hydrogen.dump()

Hydrogen	H	1

**7. Call print(hydrogen). In the definition of Element, change the name of method dump to __ str __ ,
create a new hydrogen object, and call print(hydrogen) again.**

In [16]:
print(hydrogen)

class Element:
    def __init__(self, name, symbol, number):
        self.name =name
        self.symbol = symbol
        self.number = number
    
    def __str__(self):
        print(self.name, self.symbol, self.number) 
        
hydrogen2 = Element('Hydrogen', 'H', 1)
hydrogen2.__str__()
print(hydrogen2)

<__main__.Element object at 0x7fcff9c9b7c0>
Hydrogen H 1
Hydrogen H 1

TypeError: ignored

**8. Modify Element to make the attributes name, symbol, and number private. Define a getter
property for each to return its value.**

In [1]:
class Element:
    def __init__(self, name, symbol, number ):
        self.name1 = name
        self.symbol1 = symbol
        self.number1 = number

    @property
    def get_name(self):
        return self.name1

    @property
    def get_symbol(self):
        return self.symbol1
    
    @property
    def get_number(self):
        return self.number1

hydrogen = Element('Hydrogen', 'H', 1)

print(hydrogen.get_name)
print(hydrogen.get_symbol)
print(hydrogen.get_number)

Hydrogen
H
1

**9. Define three classes: Bear, Rabbit, and Octothorpe. For each, define only one method: eats(). This
should return &#39;berries&#39; (Bear), &#39;clover&#39; (Rabbit), or &#39;campers&#39; (Octothorpe). Create one object from
each and print what it eats.**

In [32]:
class Bear:
    def eats (self):
        print('Bears eat berries')

class Rabbit:
    def eats (self):
        print('Rabbits eat clover')

class Octothorpe:
    def eats (self):
        print('Octothopers eat campers')

bear = Bear()
rabbit = Rabbit()
octothorpe = Octothorpe()

bear.eats()
rabbit.eats()
octothorpe.eats()

Bears eat berries
Rabbits eat clover
Octothopers eat campers

**10. Define these classes: Laser, Claw, and SmartPhone. Each has only one method: does(). This
returns &#39;disintegrate&#39; (Laser), &#39;crush&#39; (Claw), or &#39;ring&#39; (SmartPhone). Then, define the class Robot that
has one instance (object) of each of these. Define a does() method for the Robot that prints what its
component objects do.**

In [84]:
class Laser: # This is a class
    def does(self): # This is a method
        return('disintegrate') # This returns something

class Claw:
    def does(self):
        return('crush')

class SmartPhone:
    def does(self):
        return('ring')

class Robot: # This is a class
    def __init__(self): # This is an instance (object)
        self.laser = Laser()
        self.claw = Claw()
        self.smartphone = SmartPhone()
    def does(self):
        print('\n',self.laser.does(),'\n',self.claw.does(),'\n',self.smartphone.does())

r2d2 = Robot()
r2d2.does()

 disintegrate
 crush
 ring

In [23]:
salary = input('Choise a position (Executive/Manager/Senior Manager)')

# salary = salary.lower()

if salary == 'Executive':
    print('The salary range is between 30000-40000')

elif salary ==  'Manager':
    print('The salary range is between 60000-90000')

elif salary ==  'Senior Manager':
    print('The salary range is between 120000-160000')

else:
    print('Please, enter a correct option.')

Choise a position (Executive/Manager/Senior Manager)Senior Manager
The salary range is between 120000-160000