<a href="https://colab.research.google.com/github/LGLV/ineuron_assignaments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

* *(operator)
* 'hello' (value)
* -87.8 (value)
* -(operator)
* /(operator)
* +(operator)
* 6 (value)

**2. What is the difference between string and variable?**
* Variable is a symbol where we can store info 
* String is an expression (word) enclosed between “ ” and we can assign it to a variable.

**3. Describe three different data types.**
* Numerical data type as: Integer and floating 
* Categorical data type as: name or labels 
* Boolean data type as: True, False

In [ ]:
# Data type
a = 1
b = 3.1415
c = 'Luis'
d = True
print(a, 'is =', type(a))
print(b, 'is =', type(b))
print(c, 'is =', type(c))
print(d, 'is =', type(d))

1 is = <class 'int'>
3.1415 is = <class 'float'>
Luis is = <class 'str'>
True is = <class 'bool'>

**4. What is an expression made up of? What do all expressions do?**
* An expression is made of operands and operators
* All expression produces values or results

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**
* An expression produces a value or result.
* A statement creates a variable or display values.

In [ ]:
# Expression
print(3**3)
# Statement
name = 'LGLB'
name

27

'LGLB'

**6. After running the following code, what does the variable bacon contain?**

bacon = 22

bacon + 1

In [ ]:
bacon = 22
bacon + 1

23

**7. What should the values of the following two terms be?**

'spam' + 'spamspam'

'spam' * 3

In [ ]:
a = 'spam' + 'spamspam'
b = 'spam' * 3

print(f'a= {a}\nb= {b}')

a= spamspamspam
b= spamspamspam

**8. Why is eggs a valid variable name while 100 is invalid?**

In [ ]:
eggs = 20
100 = 'one hundred' # No variable can star whit number

SyntaxError: ignored

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

* int()
* float()
* str()

In [ ]:
print(int(3.14))
print(float(3))
print(str(9.0))

3
3.0
9.0

**10. Why does this expression cause an error? How can you fix it?**

'I have eaten ' + 99 + ' burritos.'

* cause expression cannot do mathematical operations between strings and integers. 
* can only concatenate str (not "int") to str

In [ ]:
# To fix it 
'I have eaten ' + str(99) + ' burritos.' # str(99) converts numeric 99 to string.

'I have eaten 99 burritos.'