<a href="https://colab.research.google.com/github/LGLV/ineuron_assignaments/blob/main/Assignment_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. What advantages do Excel spreadsheets have over CSV spreadsheets?**

The Advantages of Excel over CSV are:

1. Excel (XLS and XLSX) file formats are better for storing and analysing complex data.
2. An Excel not only stores data but can also do operations on the data using macros, formulas etc
3. CSV files are plain-text files, Does not contain formatting, formulas, macros, etc. It is also known as flat files

**2. What do you pass to csv.reader() and csv.writer() to create reader and writer objects?**

In [ ]:
import csv
with open('text.csv','r') as file:
    csv_file = csv.reader(file,delimiter=',')
    for ele in csv_file:
        print(ele)

**3. What modes do File objects for reader and writer objects need to be opened in?**

* For csv.reader(iterable_file_object), the file objects needed to be opened in read mode mode='r' 
* For csv.writer(iterable_file_object) the file objects needed to be opened in write mode mode='w'

**4. What method takes a list argument and writes it to a CSV file?**

* csv.writer class provides two methods for writing to CSV. They are writerow() and writerows(). writerow() method writes a single row at a time. Whereas writerows() method is used to write multiple rows at a time.

In [2]:
# Example 
import csv      
fields = ['Name', 'Branch', 'Year', 'CGPA'] #column names 
rows = [ 
            ['Nikhil', 'COE', '2', '9.0'],  # data rows of csv file 
            ['Sanchit', 'COE', '2', '9.1'], 
            ['Ravi', 'IT', '2', '9.3']
       ] 
with open("university_records.csv", 'w') as csvfile: 
    csvwriter = csv.writer(csvfile) # creating a csv writer object 
    csvwriter.writerow(fields) # writing the fields 
    csvwriter.writerows(rows) # writing the data rows

In [5]:
import pandas as pd
df = pd.read_csv('university_records.csv')
df

      Name Branch  Year  CGPA
0   Nikhil    COE     2   9.0
1  Sanchit    COE     2   9.1
2     Ravi     IT     2   9.3

**5. What do the keyword arguments delimiter and line terminator do?**

* Lets take the example of a csv file:
1. First Name, 
2. Last Name, 
3. Age

Mano, Vishnu, 24

Vishnu, Vardhan, 21

* Here ',' is Delimiter. We can use any Character as per our needs if required. Similarly Line Terminator comes at end of line by default it is newline and can be changed accourding to Requirement.

**6. What function takes a string of JSON data and returns a Python data structure?**

* loads() method takes a string of JSON data and returns a Python data structure.

In [9]:
# Example 
import json
my_json ='''{
    "Name": "LG LV",
    "Qualification": "PhD in Chemistry",
    "Stream": "Data Scientist"
}'''
print(my_json)
print(f'Type of my_json is {type(my_json)}')
my_details = json.loads(my_json)
print(my_details)
print(f'Type of my_details is {type(my_details)}')

{
    "Name": "LG LV",
    "Qualification": "PhD in Chemistry",
    "Stream": "Data Scientist"
}
Type of my_json is <class 'str'>
{'Name': 'LG LV', 'Qualification': 'PhD in Chemistry', 'Stream': 'Data Scientist'}
Type of my_details is <class 'dict'>

**7. What function takes a Python data structure and returns a string of JSON data?**

* dumps() method takes a python data structure and returns a string of JSON data.

In [11]:
# Example 
import json
details = {
    "Name": "LG LV",
    "Qualification": "PhD in Chemistry",
    "Stream": "Data Scientist"
}
print(details)
print(f'Type of my_details is {type(details)}')
details_json = json.dumps(details, indent=4, sort_keys=True)
print(details_json)
print(f'Type of my_details_json is {type(details_json)}')

{'Name': 'LG LV', 'Qualification': 'PhD in Chemistry', 'Stream': 'Data Scientist'}
Type of my_details is <class 'dict'>
{
    "Name": "LG LV",
    "Qualification": "PhD in Chemistry",
    "Stream": "Data Scientist"
}
Type of my_details_json is <class 'str'>