<a href="https://colab.research.google.com/github/LGLV/ineuron_assignaments/blob/main/Assignment_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.**

In [77]:
test1 = 'This is a test of the emergency text system,'
file_t1 = open('test.txt', 'w')
file_t1.write(test1)

44

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?**

In [78]:
file_t2 = open('test.txt', 'r')
test2 = file_t2.readline()
test2

''

In [79]:
if test1 == test2:
    print('Is the same operation.')

**3. Create a CSV file called books.csv by using these lines:**

* title,author,year
* The Weirdstone of Brisingamen,Alan Garner,1960
* Perdido Street Station,China Miéville,2000
* Thud!,Terry Pratchett,2005
* The Spellman Files,Lisa Lutz,2007
* Small Gods,Terry Pratchett,1992

In [119]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).**

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

**5. Read books.csv and insert its data into the book table.**

In [122]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

**6. Select and print the title column from the book table in alphabetical order.**

In [123]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

**7. From the book table, select and print all columns in the order of publication.**

In [126]:
c.execute('select title, author,year from books order by year')

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station  China MiÃ©ville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

**8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.**

In [136]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

**9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.**

In [149]:
!pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: redis in /usr/local/lib/python3.10/dist-packages (4.5.5)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.10/dist-packages (from redis) (4.0.2)

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{'count':1, 'name':'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')