<a href="https://colab.research.google.com/github/LGLV/ineuron_assignaments/blob/main/Programming_Assignment_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Write a Python Program to Add Two Matrices?**

In Python, we can implement a matrix as a nested list (list inside a list). We can treat each element as a row of the matrix.

For example X = [[1, 2], [4, 5], [3, 6]] would represent a 3x2 matrix. First row can be selected as X[0] and the element in first row, first column can be selected as X[0][0].

In [10]:
# Using nested for loops to iterate through each row and each column.

a = [[1,2,3], [4,5,6], [7,8,9]]
b = [[1,2,3], [4,5,6], [7,8,9]]

# First row can be selected as a[0] and the element in first row, first column can be selected as a[0][0].

result = [[0,0,0], [0,0,0], [0,0,0]]

# Iterate through rows
for i in range(len(a)):
    # Iterate through columns
    for j in range(len(a[0])):
        result[i][j] = a[i][j] + b[i][j]
    
for k in result:
    print(k)

[2, 4, 6]
[8, 10, 12]
[14, 16, 18]

In [19]:
# Using list comprehension.

a = [[1,2,3], [4,5,6], [7,8,9]]
b = [[1,2,3], [4,5,6], [7,8,9]]

res = [[a[i][j] + b[i][j] for j in range(len(a[0]))] for i in range(len(a))]

for r in res:
    print(r)

[2, 4, 6]
[8, 10, 12]
[14, 16, 18]

**2. Write a Python Program to Multiply Two Matrices?**

In Python, we can implement a matrix as nested list (list inside a list).

We can treat each element as a row of the matrix.

For example X = [[1, 2], [4, 5], [3, 6]] would represent a 3x2 matrix.

The first row can be selected as X[0]. And, the element in first row, first column can be selected as X[0][0].

Multiplication of two matrices X and Y is defined only if the number of columns in X is equal to the number of rows Y.

If X is a n x m matrix and Y is a m x l matrix then, XY is defined and has the dimension n x l (but YX is not defined).

In [25]:
# Using nested loops.

a = [[1,2,3], [4,5,6], [7,8,9]]
b = [[1,2,3,4], [4,5,6,7], [7,8,9,10]]

result = [[0,0,0,0], [0,0,0,0], [0,0,0,0]]

# Iterate through rows of a
for i in range(len(a)):
    # Iterate through columns of b
    for j in range(len(b[0])):
        # Iterate through rows of b
        for k in range(len(b)):
            result[i][j] += a[i][k] * b[k][j]
    
for k in result:
    print(k)

[30, 36, 42, 48]
[66, 81, 96, 111]
[102, 126, 150, 174]

In [26]:
# Using list comprehension

# 3x3 matrix
a = [[1,2,3], [4,5,6], [7,8,9]]

# 3x4 matrix
b = [[1,2,3,4], [4,5,6,7], [7,8,9,10]]

# result is 3x4
result = [[sum(x*y for x,y in zip(X_row,Y_col)) for Y_col in zip(*b)] for X_row in a]

for r in result:
   print(r)

[30, 36, 42, 48]
[66, 81, 96, 111]
[102, 126, 150, 174]

**3. Write a Python Program to Transpose a Matrix?**

In [1]:
# Transpose a matrix using a nested loop.

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

In [3]:
# Transpose a matrix using list comprehension.

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[X[j][i] for j in range(len(X))] for i in range(len(X[0]))]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

**4. Write a Python Program to Sort Words in Alphabetic Order?**

In [7]:
my_word = input('Enter a string: ')

word = [word.capitalize() for word in my_word.split()]

word.sort()

for w in word:
    print(f'The sorted string is:{w}')

Enter a string: My name is Luis Germ치n L칩pez Valdez
The sorted string is:Germ치n
The sorted string is:Is
The sorted string is:Luis
The sorted string is:L칩pez
The sorted string is:My
The sorted string is:Name
The sorted string is:Valdez

**5. Write a Python Program to Remove Punctuation From a String?**

In [15]:
# To take input from the user
my_str = input("The string: ")

# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

# remove punctuation from the string
no_punct = ""
for ele in my_str:
   if ele not in punctuations:
       no_punct = no_punct + ele

# display the unpunctuated string
print('The result:', no_punct.upper())

The string: "All stories begin with 'Once upon a time.' And that's just what this story is all about: what happened, once upon a time."
The result: ALL STORIES BEGIN WITH ONCE UPON A TIME AND THATS JUST WHAT THIS STORY IS ALL ABOUT WHAT HAPPENED ONCE UPON A TIME