<a href="https://colab.research.google.com/github/LGLV/ineuron_assignaments/blob/main/Programming_Assignment_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1 Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

Examples

* filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
* filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
* filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [6]:
def filter_list(list):
    r = []
    for i in list:
        if isinstance(i,int):
            r.append(i)
    return r
print(filter_list([1, 2, 3, "a", "b", 4]))
print(filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]))
print(filter_list(["Nothing", "here"]))

[1, 2, 3, 4]
[0, 1729]
[]

Question 2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

Examples

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [9]:
def add_indexes(list):
    r = []
    for index, number in enumerate(list):
        r.append(number + index)
    return r

print(add_indexes([0, 0, 0, 0, 0]))
print(add_indexes([1, 2, 3, 4, 5]))
print(add_indexes([5, 4, 3, 2, 1]))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]
[5, 5, 5, 5, 5]

In [8]:
def add_indexes(lst):
    return [num + i for i, num in enumerate(lst)]

# Ejemplos
print(add_indexes([0, 0, 0, 0, 0]))  # ➞ [0, 1, 2, 3, 4]
print(add_indexes([1, 2, 3, 4, 5]))  # ➞ [1, 3, 5, 7, 9]
print(add_indexes([5, 4, 3, 2, 1]))  # ➞ [5, 5, 5, 5, 5]

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]
[5, 5, 5, 5, 5]

Question 3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples

cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

In [18]:
import math

def cone_volume(height, radius):
    volume = (1/3) * math.pi * (radius ** 2) * height
    return round(volume, 2)

# Ejemplos
print(cone_volume(3, 2))  # ➞ 12.57
print(cone_volume(15, 6)) # ➞ 565.49
print(cone_volume(18, 0)) # ➞ 0.00

12.57
565.49
0.0

Question 4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

Examples

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [19]:
def triangle(n):
    return n * (n + 1) // 2  # Usamos // para obtener un entero

# Ejemplos
print(triangle(1))    # ➞ 1
print(triangle(6))    # ➞ 21
print(triangle(215))  # ➞ 23220

1
21
23220

Question 5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.

Examples

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [20]:
def missing_num(lst):
    # La suma de los números del 1 al 10 es 55
    total_sum = 55
    # Calculamos la suma de los números en la lista
    current_sum = sum(lst)
    # El número faltante es la diferencia entre la suma total y la suma actual
    return total_sum - current_sum

# Ejemplos
print(missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]))  # ➞ 5
print(missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]))   # ➞ 10
print(missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]))  # ➞ 7

5
10
7