<a href="https://colab.research.google.com/github/LGLV/ineuron_assignaments/blob/main/Programming_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Write a Python program to convert kilometers to miles?**

In [ ]:
mile = float(input('Enter the quantity of km to conver to miles: '))
def km_m(mile):
    return mile*0.621
     
print(f'{mile} km is equal to {km_m(mile)} miles')

Enter the quantity of km to conver to miles: 8
8.0 km is equal to 4.968 miles

2. Write a Python program to convert Celsius to Fahrenheit?

In [ ]:
farenh = float(input('Enter temperature in °C to conver to °F: '))

def c_f(farenh):
    return (farenh*9)/ 5 + 32

print(f'{farenh} °C are {c_f(farenh)}°F')

Enter temperature in °C to conver to °F: 100
100.0 °C are 212.0°F

3. Write a Python program to display calendar?

In [ ]:
import calendar
year = int(input('Enter a calendar year: '))
print(calendar.calendar(year))

Enter a calendar year: 2010
                                  2010

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

4. Write a Python program to solve quadratic equation?

In [70]:
a = float(input('Enter the x^2 coefficient: '))
b = float(input('Enter the x coefficient: '))
c = float(input('Enter the independent coefficient: '))

def quad_ec(a, b, c):

    disc = (b**2)-4*a*c
    print(f'The discriminant value is: {disc}, then.')

    if disc > 0:
        
        x1 = (-b+(b**2-4*a*c)**0.5)/2*a
        x2 = (-b-(b**2-4*a*c)**0.5)/2*a
        print(f'We have two real solutions: \nx1 = {x1} \nx2 = {x2}')
    
    elif disc == 0:

        x1 = (-b+(b**2-4*a*c)**0.5)/2*a
        x2 = (-b-(b**2-4*a*c)**0.5)/2*a
        print(f'We have two equal real solutions: \nx1 = {x1} \nx2 = {x2}')
    
    else:
        x1 = (-b+(b**2-4*a*c)**0.5)/2*a
        x2 = (-b-(b**2-4*a*c)**0.5)/2*a
        print(f'We have two imaginary solutions: \nx1 = {x1} \nx2 = {x2}')

quad_ec(a, b, c)

Enter the x^2 coefficient: 1
Enter the x coefficient: 1
Enter the independent coefficient: 1
The discriminant value is: -3.0, then.
We have two imaginary solutions:
x1 = (-0.49999999999999994+0.8660254037844386j)
x2 = (-0.5-0.8660254037844386j)

5. Write a Python program to swap two variables without temp variable?

In [62]:
before_date = float(input('Enter the now number: '))
after_date = float(input('Enter the after number: '))

def Bef_Aft(before_date, after_date):
    a = before_date
    before_date = after_date
    after_date = a
    return before_date, after_date
print('Initial date:', before_date, ',', after_date)
before_date, after_date = Bef_Aft(before_date, after_date)
print('Swaped date:', before_date, ',', after_date)

Enter the now number: 23
Enter the after number: 32
Initial date: 23.0 , 32.0
Swaped date: 32.0 , 23.0

In [65]:
num_1 = int(input('Enter first number: '))
num_2 = int(input('Enter second number: '))


def swapNumbers(num_1,num_2):
        print('Before Swapping:',num_1,num_2)
        num_1 = num_1+num_2
        num_2 = num_1-num_2
        num_1 = num_1-num_2
        print('After Swapping:',num_1,num_2)

swapNumbers(num_1,num_2)

Enter first number: 23
Enter second number: 32
Before Swapping: 23 32
After Swapping: 32 23