<a href="https://colab.research.google.com/github/LGLV/ineuron_assignaments/blob/main/Programming_Assignment_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

Examples

next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ &quot;No list has been selected&quot;

In [1]:
def next_in_line(lst, num):
    if not lst:  # Check if the list is empty
        return "No list has been selected"

    lst.append(num)  # Add the number to the end of the list
    lst.pop(0)      # Remove the first element of the list
    return lst      # Return the updated list

# Ejemplos
print(next_in_line([5, 6, 7, 8, 9], 1))      # ➞ [6, 7, 8, 9, 1]
print(next_in_line([7, 6, 3, 23, 17], 10))   # ➞ [6, 3, 23, 17, 10]
print(next_in_line([1, 10, 20, 42], 6))      # ➞ [10, 20, 42, 6]
print(next_in_line([], 6))                    # ➞ "No list has been selected"

[6, 7, 8, 9, 1]
[6, 3, 23, 17, 10]
[10, 20, 42, 6]
No list has been selected

Question 2
Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

Examples

get_budgets([

{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },

{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },

{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }
]) ➞ 65700

get_budgets([
    
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },

{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },

{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }
]) ➞ 62600

In [2]:
def get_budgets(lst):
    total_budget = 0  # Initialize total budget to 0
    for person in lst:  # Iterate through each dictionary in the list
        total_budget += person.get("budget", 0)  # Add the budget to total (default to 0 if not found)
    return total_budget  # Return the total budget

# Test cases
print(get_budgets([
    {"name": "John", "age": 21, "budget": 23000},
    {"name": "Steve", "age": 32, "budget": 40000},
    {"name": "Martin", "age": 16, "budget": 2700}
]))  # ➞ 65700

print(get_budgets([
    {"name": "John", "age": 21, "budget": 29000},
    {"name": "Steve", "age": 32, "budget": 32000},
    {"name": "Martin", "age": 16, "budget": 1600}
]))  # ➞ 62600

65700
62600

Question 3
Create a function that takes a string and returns a string with its letters in alphabetical order.

Examples

alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;

alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;

alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;

alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;

alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;

In [5]:
def alpha(word):
    r = ''
    for i in sorted(word):
        r += i
    return r

print(alpha("hello"))
print(alpha("edabit"))
print(alpha("hacker"))
print(alpha("geek"))
print(alpha("javascript"))

ehllo
abdeit
acehkr
eegk
aacijprstv

In [4]:
def alphabet_soup(s):
    return ''.join(sorted(s))

print(alphabet_soup("hello")) # ➞ "ehllo"

print(alphabet_soup("edabit")) # ➞ "abdeit"

print(alphabet_soup("hacker")) # ➞ "acehkr"

print(alphabet_soup("geek")) # ➞ "eegk"

print(alphabet_soup("javascript")) # ➞ "aacijprstv")

ehllo
abdeit
acehkr
eegk
aacijprstv

Question 4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts:

the principal **p**,

the term in years **t**,

the interest rate **r**,

and the number of compounding periods per year **n**.

The function returns the value at the end of term
rounded to the nearest cent.
For the example above:

compound_interest(10000, 10, 0.06, 12) ➞ 18193.97

Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.

Examples

compound_interest(100, 1, 0.05, 1) ➞ 105.0

compound_interest(3500, 15, 0.1, 4) ➞ 15399.26

compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [6]:
def compound_interest(p, t, r, n):
    # Calculate the amount using the compound interest formula
    A = p * (1 + r / n) ** (n * t)
    return round(A, 2)  # Round to the nearest cent

# Test cases
print(compound_interest(10000, 10, 0.06, 12))        # ➞ 18193.97
print(compound_interest(100, 1, 0.05, 1))            # ➞ 105.0
print(compound_interest(3500, 15, 0.1, 4))           # ➞ 15399.26
print(compound_interest(100000, 20, 0.15, 365))      # ➞ 2007316.26

18193.97
105.0
15399.26
2007316.26

Question 5
Write a function that takes a list of elements and returns only the integers.
Examples

return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]

return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]

return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,
3]

return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]

In [12]:
def lis_int(lst):
    return[i for i in lst if isinstance(i, int)]

print(lis_int([9, 2, "space", "car", "lion", 16]))
print(lis_int(["hello", 81, "basketball", 123, "fox"]))
print(lis_int([10, "121", 56, 20, "car", 3, "lion"]))

[9, 2, 16]
[81, 123]
[10, 56, 20, 3]

In [18]:
def l_i(lst):
    r = []
    for i in lst:
        if type(i) == int:
            r.append(i)
    return r

print(l_i([9, 2, "space", "car", "lion", 16]))
print(l_i(["hello", 81, "basketball", 123, "fox"]))
print(l_i([10, "121", 56, 20, "car", 3, "lion"]))

[9, 2, 16]
[81, 123]
[10, 56, 20, 3]