<a href="https://colab.research.google.com/github/LGLV/ineuron_assignaments/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. What exactly is []?**

•	It represents an empty list

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

In [1]:
spam = [2, 4, 6, 8, 10]
spam[2]='hello'
spam

[2, 4, 'hello', 8, 10]

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.
 
**3. What is the value of spam[int(int('3' * 2) / 11)]?**

In [2]:
spam = ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

'd'

**4. What is the value of spam[-1]?**

In [3]:
spam[-1]

'd'

**5. What is the value of spam[:2]?**

In [4]:
spam[:2]

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

**6. What is the value of bacon.index('cat')?**

In [20]:
bacon = [3.14, 'cat', 11, 'cat', True] 
bacon.index('cat')

1

**7. How does bacon.append(99) change the look of the list value in bacon?**

In [21]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

**8. How does bacon.remove('cat') change the look of the list in bacon?**

In [22]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

9. What are the list concatenation and list replication operators?

•	replication operator is (*)

•	concatenation operator is (+)

In [49]:
# replication 

list0 = [1,3,4,7,11,18]
list0*2

[1, 3, 4, 7, 11, 18, 1, 3, 4, 7, 11, 18]

In [50]:
#  concatenation operator
list2 = ['a','b','c','d','e']
list0 + list2

[1, 3, 4, 7, 11, 18, 'a', 'b', 'c', 'd', 'e']

**10. What is difference between the list methods append() and insert()?**

•	append() method adds a new value at the end of a list 

•	insert() method inserts a new value in a specific place of a list

In [28]:
#  append() method
cars = ['VW', 'Ford', 'Nissan', 'Chevrolet']
cars.append('KIA')
cars

['VW', 'Ford', 'Nissan', 'Chevrolet', 'KIA']

In [29]:
# insert() method
cars = ['VW', 'Ford', 'Nissan', 'Chevrolet']
cars.insert(1,'KIA')
cars

['VW', 'KIA', 'Ford', 'Nissan', 'Chevrolet']

**11. What are the two methods for removing items from a list?**

•	remove()

•	pop()

In [36]:
#  remove()
cars = ['VW', 'Ford', 'Nissan', 'Chevrolet']
cars.remove('Nissan')
cars

['VW', 'Ford', 'Chevrolet']

In [37]:
# pop()
list2 = ['a','b','c','d','e']
list2.pop()
list2

['a', 'b', 'c', 'd']

**12. Describe how list values and string values are identical.**

•	Both can be passed to len()

•	Can be used in for loops

•	Can be concatenated or replicated

•	Can be used with the in and not in operators 

•	Have indexes and slices

**13. What's the difference between tuples and lists?**

•	Lists use the square brackets [ ]: are mutable - they can have values added, removed, or changed-

•	Tuples use parentheses (  ): are immutable; they cannot be changed at all.

**14. How do you type a tuple value that only contains the integer 42?**

In [43]:
t = (42)
t

42

**15. How do you get a list value's tuple form? How do you get a tuple value's list form?**

In [44]:
#list to tuple
l = [1, 3, 5, 7, 9]
l_t = tuple(l)
l_t

(1, 3, 5, 7, 9)

In [ ]:
# tuple to list
t = (2, 4, 6, 8, 10)
t_l = list(t)
t_l

**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

•	Variables will contain references to list values rather than list values themselves.

**17. How do you distinguish between copy.copy() and copy.deepcopy()?**

•	copy.copy()  known as A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.

•	copy.deepcopy() known as A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.