<a href="https://colab.research.google.com/github/LGLV/ineuron_assignaments/blob/main/Assignment_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to print the string 'too low' if guess_me is less than 7, 'too high' if greater than 7, and 'just right' if equal to 7.**

In [8]:
def guess_me(val):
    if val < 7:
        print(f'The value {val} is too low')
    elif val > 7:
        print(f'The value {val} is too high')
    else:
        print(f'You have the just right  value ({val})')

guess_me(6)
guess_me(8)
guess_me(7)

The value 6 is too low
The value 8 is too high
Youe heve the just right  value (7)

**2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while loop that compares start with guess_me. Print too low if start is less than guess me. If start equals guess_me, print 'found it!' and exit the loop. If start is greater than guess_me, print 'oops' and exit the loop. Increment start at the end of the loop**

In [120]:
guess_me = 7
start = 1
while True:
    if start < guess_me:
        print('too low')
        break
    if start == guess_me:
        print('found it!')
        break

    else:
        print('oops')
        break
        start += 1

too low

In [121]:
guess_me = 7
start = 1
while start < guess_me:
    print('too low')
    start += 1 
    
if start == guess_me:
    print('found it!')

else:
    print('oops')

too low
too low
too low
too low
too low
too low
found it!

**3. Print the following values of the list [3, 2, 1, 0] using a for loop.**

In [131]:
list = [3, 2, 1, 0]
print([a for a in list])

[3, 2, 1, 0]

In [129]:
list = [3, 2, 1, 0]
for a in list:
    print(a)

3
2
1
0

**4. Use a list comprehension to make a list of the even numbers in range(10)**

In [136]:
even_num = [a for a in range(10) if a%2 == 0]
print(even_num)

[0, 2, 4, 6, 8]

**5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the keys, and use the square of each key as its value.**

In [149]:
sq_val = dict([(a,pow(a,2)) for a in range(10)])
sq_val

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [151]:
sq_val2 = {a:a**2 for a in range(10)}
sq_val2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

**6. Construct the set odd from the odd numbers in the range using a set comprehension (10).**

In [5]:
odd_numbers = set(a for a in range(10) if a%2 != 0)
odd_numbers

{1, 3, 5, 7, 9}

**7. Use a generator comprehension to return the string 'Got ' and a number for the numbers in range(10). Iterate through this by using a for loop**

In [9]:
genarator = (str(a) + '-Got' for a in range(10))
for ele in genarator:
    print(ele, end=', ')

0-Got, 1-Got, 2-Got, 3-Got, 4-Got, 5-Got, 6-Got, 7-Got, 8-Got, 9-Got,

**8. Define a function called good that returns the list ['Harry', 'Ron', 'Hermione'].**

In [17]:
def good():
    a = ['Harry', 'Ron', 'Hermione']
    print(a)
good()

['Harry', 'Ron', 'Hermione']

In [18]:
def good():
    a = ['Harry', 'Ron', 'Hermione']
    return(a)
good()

['Harry', 'Ron', 'Hermione']

**9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.**

In [35]:
def get_odds_1():
    odds = ([a for a in range(10) if a%2 != 0])
    return(odds)
get_odds_1()

[1, 3, 5, 7, 9]

In [36]:
def get_odds_2():
    odds = []
    for a in range(10):
        if a%2 != 0:
            odds.append(a)
    return(odds)    
get_odds_2()

[1, 3, 5, 7, 9]

**10. Define an exception called OopsException. Raise this exception to see what happens. Then write the code to catch this exception and print 'Caught an oops'.**

In [40]:
class OopsException(Exception):
    pass

def test(input):
    if input <0:
        raise OopsException(a)
try:
    test(-100)
except Exception as e:
    print('Caught in Oops ->',e)

Caught in Oops -> name 'a' is not defined

**11. Use zip() to make a dictionary called movies that pairs these lists: titles = ['Creature of Habit', 'Crewel Fate'] and plots = ['A nun turns into a monster', 'A haunted yarn shop'].**

In [48]:
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']
movies = dict(zip(titles, plots))
movies

{'Creature of Habit': 'A nun turns into a monster',
 'Crewel Fate': 'A haunted yarn shop'}